/*------------------------------------- Styles for Header -----------------------------------------*/
header{
   
    background: rgba(255, 144, 14, 0.1);
}
/*------------------------------------- Styles for Navigation -----------------------------------------*/
nav{
    display: flex;
    justify-content: space-between;
}
/*------------------------------------- Styles for Nav-title -----------------------------------------*/
.nav-title{
    margin-left: 100px;
    font-weight: 700;
    font-size: 40px;
}
/*------------------------------------- Styles for Nav-bar -----------------------------------------*/
.nav-bar{
    display: flex;
    margin-top: 50px;
    margin-right: 100px;
}
.nav-bar p{
    margin-right: 50px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
/*------------------------------------- Styles for Banner Section -----------------------------------------*/
.Banner{
    margin:0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*------------------------------------- Styles for Banner Title -----------------------------------------*/
.banner-title{
    font-weight: 700;
    font-size: 60px;
    padding: 0 200px;
    text-align: center;
}
/*------------------------------------- Styles for Banner Description -----------------------------------*/
.banner-des{
    font-weight: 400;
    font-size: 16px;
    color: #424242;
    padding: 0 200px;
    text-align: center;
    
}
/*------------------------------------- Styles for Banner Button ------------------------------------------*/
.btn, .btn1{
    width: 180px;
    height: 64px;
    border-radius: 10px;
    background-color: #FF900E ;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    margin: 35px 0;
}
/*--------------------------------------- Styles for Banner Images ----------------------------------------- */
.banner-img{
    width: 1200px;
    height: 600px;
    margin-bottom: 40px;
    
}
/*--------------------------------------- Styles for Features Part ----------------------------------------- */
.Features-part{
    display: flex;
    margin: 50px 100px;
}
/*--------------------------------------- Styles for Features Images Part ----------------------------------------- */
.img-of-features{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.img-of-features img{
    margin: 20px;
    border-radius: 10px;
}
/*--------------------------------------- Styles for Description Features Part ----------------------------------------*/
.des-of-features{
    margin-left: 20px;
    margin-top: 200px;
}
.features-title{
    font-weight: 500;
    font-size: 45px;
}
.part1{
    color: #727272;
}
.part2{
    color: #FF900E;
}
.features-des{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
/*------------------------ Styles for Features You Love & Enjoy----------------------------------*/
.features-love-enjoy{
    display: flex;
}
/*------------------------ Styles for Features Love Part----------------------------------*/
.love{
   margin-left: 150px;
}
.love-title{
    font-weight: 700;
    font-size: 45px;
    width: 400px;
}
.love-des{
    font-weight: 400;
    font-size: 16px;
    width: 450px;
    color: #727272;
}
.sec{
    width: 500px;
    height: 130px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 20px;
    background-color: #FFFFFF;
    margin: 20px 0;
}
.sec h3{
    font-weight: 600;
    font-size: 20px;
}
.sec p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
/*------------------------ Styles for Features Love Image Part----------------------------------*/
.love-Image{
    background-image: url('images/architect.png');
    background-repeat: no-repeat;
    margin-left: 80px;
    margin-right: 100px;
    width:500px;
}
.btn1{
    margin-top: 500px;
    padding: 20px;
    height: 130px;
    width: 220px;
}
.year{
    font-weight: 700;
    font-size: 40px;
}
.ex{
    font-weight: 500;
    font-size: 25px;
}
/*------------------------- Styles for Fact Section ------------------------------------------------*/
.fact{
    margin-left: 200px;
}

/*------------------------- Styles for Fact Description ------------------------------------------------*/

.fact-title{
    font-weight: 700;
    font-size: 40px;
}
.description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/*------------------------- Styles for Fact Icons ------------------------------------------------*/

.fact-icon{
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
}
.icon{
    width: 180px;
    height: 220px;
    border: 2px solid #FF900E;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    animation: color-changing 2s ease-in-out  1s infinite ;
    animation-play-state: paused;
    
}
.icon h1{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}
.icon p{
    font-weight: 600;
    font-size: 20px; 
    color: #727272;
    
}
/*--------------------- Animation for Fact Icons ------------------------------------------------*/
.icon h1{
    transition: transform 0.3s ease-out;
}
.icon:hover {
    background-color: rgb(236, 158, 236)

}
.icon:hover p{
    color: blue;
}
.icon:hover h1{
    color: rgb(223, 35, 35);
     transform: rotate(-360deg);
}


 
/*------------------------- Styles for Sponsors Description ------------------------------------------------*/
.sponsors{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sponsors-title{
    font-weight: 700;
    font-size: 40px;
}
.sponsor-des{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
/*------------------------- Styles for Sponsors Icons ------------------------------------------------*/
.spo-icon{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.spo-icon img{
    width: 100px;
}
/*------------------------- Styles for Footer Part ---------------------------------------------------------------*/
footer{
    background: #FFF4E7;
    padding-bottom: 100px;
}
/*------------------------- Styles for Subscribe and Message Part ------------------------------------------------*/
.sub-msg{
    display: flex;
    margin: 100px;
    
}
/*------------------------- Styles for Subscribe Part ------------------------------------------------*/
.sub{
    margin-left: 100px;
}
.sub-title{
    font-weight: 700;
    font-size: 40px;
}
.sub-des{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.sub-icons {
   display: flex;
    
}

.img1{
    width: 50px;
    height: 65px;
}
.img2{
    width: 40px;
    height: 50px;
    margin-left: 20px;
}
/*------------------------- Styles for Message Part ------------------------------------------------*/
.msg{
    margin-left: 100px;
}
.msg-title{
    font-weight: 700;
    font-size: 40px;

}
form{
    display: flex;
    flex-direction: column;
    
}
form input{
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    width:  200px;
}
.in1{
    margin-bottom: 20px;
    height: 20px ;
}
.in2{
    height: 50px;
}
.ft-des{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
   color: #727272;

}
/*------------------------------------- Styles for Mobile Device --------------------------------- */

@media only screen and (max-width: 688px) {
nav, .nav-bar, .Features-part,.features-love-enjoy,.sub-msg{
    
    flex-direction: column;
}
.nav-title{
    margin-left: 50px;
    font-size: 30px;
}
.nav-bar{
    margin-right: 0;
    margin-left: 120px;
    margin-top: 20px;
}
.Banner{
    margin:0 2%;
}
.banner-title{
    
    font-size: 40px;
}
.banner-des,.banner-title{
   
    padding: 0 50px;
    text-align: left;
    width: 200px;
}

.banner-img{
    width: 100%;
    height: 300px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
}
.Features-part{
    margin: 10px ;
}
.sec p{
    font-weight: 400;
    font-size: 14px;
    
}
.img-of-features{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-of-features img{
    width:80%;
    margin: 10px;
}
.des-of-features{
    margin-left: 20px;
    margin-top: 20px;
}

.love{
   margin-left: 20px;
}
.love-title{
    font-weight: 700;
    font-size: 40px;
    width: 300px;
}
.love-des,.sec,.love-Image{
    width: 300px;
}
.love-Image{
    background-image: url('images/architect2.png');
    margin-left: 10px ;
    width: 100%;
    
}
.btn1{
    margin-top: 480px;
    padding: 10px;
    height: 100px;
    width: 150px;
}
.year{
    
    font-size: 30px;
}
.ex{
    font-weight: 500;
    font-size: 25px;
}
.fact{
    margin-left: 50px;
}
.fact-icon{
    display: flex;
    flex-direction: column;
}
.icon{
    margin-bottom: 10px;
    margin-left: 30px;
}
.icon h1{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}
.icon p{
    font-weight: 600;
    font-size: 20px; 
    color: #727272;
    
}
.spo-icon{
   flex-direction: column;
   align-items: center;
   
}
.spo-icon img{
    margin-bottom: 50px;
}
.sub,.msg{
    margin-left: 0;
    
}
.sub-msg{
    margin-left: 40px;
}
    
}

